html {
	position: relative;
	min-height: 100%;
	overflow-y: scroll;
}

body {
	padding-top: 70px;
	margin-bottom: 60px;
}

.footer {
	position: absolute;
	z-index: 1000;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	background-color: #f5f5f5;
}

.container .text-muted {
	margin: 20px 0;
}

/* 
* Central title 
*/
.navbar-brand {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	text-align: center;
	margin: auto;
	font-size: 40px;
}

@media (max-width: 678px) {
	.navbar-brand {
		font-size: 30px;
	}
}
/*
* Sidebar
*/
.sidebar {
	border-bottom: 1px solid #eee;
	margin-bottom: 10px;
}

@media (min-width: 992px) {
	.sidebar {
		position: fixed;
		top: 51px;
		bottom: 0;
		left: 0;
		z-index: 999;
		display: block;
		padding: 20px;
		overflow-x: hidden;
		overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
		border-right: 1px solid #eee;
		border-bottom: 0px;
		margin-bottom: 0px;
	}
}

/*
* doc-area
*/

.doc-area {
	
}

/*
* modal
*/
.modal {
	margin-top: 50px;
}

/*
*
*/
div .tab-pane {
	padding-top: 20px;
	margin-bottom: 60px;
}

#cerca span, #cerca input {
	border-bottom-right-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
}

#docList {
	max-height: 400px;	
	overflow-y: auto;
}

.list-group .list-group-item {
	border-left: none !important;
	border-right: none !important;
}

.list-group .list-group-item:first-child  {
	border-top-right-radius: 0px !important;
	border-top-left-radius: 0px !important;
}

.list-group .list-group-item:last-child  {
	border-bottom-right-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
}
