html {
	position: relative;
	min-height: 100%;
	overflow-y: scroll;
}

body {
	padding-top: 60px;
	margin-bottom: 60px;
}

.footer {
	position: absolute;
	z-index: 1000;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	background-color: #f5f5f5;
}



.noneColor {
cursor: auto !important;
background: none !important;

}


/* 
* Central title 
*/
.navbar-brand {
	font-size: 30px;
}

@media (min-width: 768px) {
	.navbar-brand {
		position: absolute;
		width: 100%;
		left: 0;
		top: 0;
		text-align: center;
		margin: auto;
		font-size: 40px;
	}
}

@media (min-width: 768px) {
	.manage-span {
		display: none;
	}
}

/*
* Sidebar
*/
.sidebar {
	border-bottom: 1px solid #eee;
	margin-bottom: 10px;
}

@media (min-width: 992px) {
	.sidebar {
		position: fixed;
		top: 60px;
		bottom: 0;
		left: 0;
		z-index: 999;
		display: block;
		padding: 0 10px;
		overflow-x: hidden;
		overflow-y: hidden; /* Scrollable contents if viewport is shorter than content. */
		border-right: 1px solid #eee;
		border-bottom: 0px;
		margin-bottom: 0px;
	}
}

/*
* doc-area
*/

.doc-area {
	
}

.doc-tabs a {
	max-width: 100px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/*
* modal
*/
.modal {
	margin-top: 50px;
}

/*
*
*/
div .tab-pane {
	padding-top: 20px;
	margin-bottom: 60px;
}

div .tab-pane div.tab-pane {
	padding-top: 0px;
}

#cerca span, #cerca input {
	border-bottom-right-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
}

#docList, #documentAnnotation{
	overflow-y: auto;
}

.list-group .list-group-item {
	border-left: none !important;
	border-right: none !important;
}

.list-group .list-group-item:first-child  {
	border-top-right-radius: 0px !important;
	border-top-left-radius: 0px !important;
}

.list-group .list-group-item:last-child  {
	border-bottom-right-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
}

.filter-round {
	border-radius: 50%;
	height: 20px;
	width: 20px;
}

/*
* Annotation style
*/

.denotesPerson {
	background: rgba(230, 72, 66, 0.7);
}

.denotesPlace {
	background: rgba(219, 164, 61, 0.7);
}
.denotesDisease {
	background: rgba(130, 204, 29, 0.7);
}
.hasSubject {
	background: rgba(31, 199, 115, 0.7);
}
.relatesTo {
	background: rgba(31, 227, 219, 0.7);
}
.hasClarityScore {
	background: rgba(30, 116, 203, 0.7);
}
.hasOriginalityScore {
	background: rgba(49, 60, 216, 0.7);
}
.hasFormattingScore {
	background: rgba(108, 44, 211, 0.7);
}
.cites {
	background: rgba(226, 46, 198, 0.7);
}
.hasComment {
	background: rgba(224, 72, 137, 0.7);
}

.hasComment, .cites, .hasFormattingScore, .hasOriginalityScore, .hasClarityScore, .relatesTo, .hasSubject, .denotesDisease, .denotesPlace, .denotesPerson {
	cursor: pointer;
}

.switch {
	font-size: 21px;
	line-height: 1;
	text-shadow: 0 1px 0 #fff;	
}

button.switch, button.manage{
	-webkit-appearance: none;
	padding: 0;
	cursor: pointer;
	background: 0 0;
	border: 0;
}

#documentAnnotation {
	padding-top: 0px;
}

#annote {
	z-index: 100000;
}
